{% extends "base.html" %}

{% block content %}

<div class="container" >
    <h1 style="text-align: center;"> Carga de archivos </h1>
</div>
<div class="container" > 
    
       
<form action="/cargar/" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
<p style="text-align: right;">
    <button type="submit" class="btn btn-success">Enviar</button>
</p>
   

<label for="file">Cargar un archivo</label>
<br>
<input type="file" id="file" name="file" accept="text/xml"><br>
<strong><label for="textarea1" style="vertical-align: top;" >Entrada</label></strong>
<strong><label for="textarea2" style="vertical-align: top; float: right;">Salida</label></strong>
<div >
    

    {% if content %}
        
         
        <textarea label="Entrada" name="textarea1" rows="20" cols="62" style="margin-right: 20px;">{{content}}</textarea>
        <textarea label="Salida" name="textarea2" rows="20" cols="62">{{response}}</textarea>
    {% else %}
        
        <textarea  name="textarea1" rows="20" cols="62" style="margin-right: 20px;"></textarea>
        <textarea  name="textarea2" rows="20" cols="62"></textarea>
    {% endif %}
</div>

</form>
</div>

{% endblock content %}