{% extends "base.html" %}
{% load static %}
{% block content %}


<h1 style="text-align: center;"> Información del estudiante</h1><br>
<p style="margin-left: 50px; color: dimgray;">Autor: Luisa María Ortíz Romero</p>
<p style="margin-left: 50px; color: dimgray; ">Registro Académico: 202003381</p>
<p style="margin-left: 50px; color: dimgray;">Contacto: 3097853160612@ingenieria.usac.edu.gt</p>
<p style="margin-left: 50px; color: dimgray;">Estudiante de 4to semestre de Ingeniería en Ciencias y Sistemas</p>
<p style="margin-left: 50px; color: dimgray;">Introducción a la Programción y Computación 2 (2021)</p>

<p style="text-align: center;"> <img src="{% static 'images/bmo.gif' %}" style="width: 100px;"> </p>

{% endblock content %}